@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="adminApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/angular-multi-select.css" />
    <link rel="stylesheet" href="~/Content/css/ngDialog.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="~/Scripts/angular-ui/angular-multi-select.js"></script>
    <script src="~/Scripts/ngDialog.min.js"></script>
    <script src="~/Scripts/app/utils/dialogService.js"></script>
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/config.js"></script>
    <script src="~/Scripts/app/directives.js"></script>
    <script src="~/Scripts/app/services.js"></script>
    <script src="~/Scripts/app/controllers.js"></script>
    <script src="~/Scripts/app/filters.js"></script>
    <script src="~/Scripts/app/adminApp.js"></script>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body ng-controller="mainCtrl">
    <div>
        @RenderBody()
    </div>
</body>
</html>
