@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <div style="float:right; border-radius:10px; padding:3px 5px; background-color: green;">aaaaaaaaaaaaaaaaaaa</div>
    </div>
    <div>
        <ul class="nav nav-pills" menu-pills>
            <li role="presentation"><a href="#main">Главная</a></li>
            <li role="presentation"><a href="#orders">Заказы</a></li>
            <li role="presentation"><a href="#messages">Сообщения</a></li>
            <li role="presentation"><a href="#information">Информация</a></li>
            <li role="presentation"><a href="#management">Управление</a></li>
        </ul>

        <div>
            счет
        </div>
    </div>
    <div ng-view>
    </div>
</div>
