<div class="fluid-content">
    <div class="row">
        <div ></div>
        
    </div>
    <div class="row">
        <div>
            <table>
                <tr>
                    <td>Вид услуги
                    </td>
                    <td>Количество машиномест
                    </td>
                </tr>
                <tr ng-repeat="g in svc.serviceGroups">
                    <td>{{g.Name}}
                    </td>
                    <td>
                        <input type="text" ng-model="g.PlaceCount" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template">
    <div>
        <table>
            <tr>
                <td></td>
                <td>Наименование
                    <input type="text" ng-model="svc.filter" />
                </td>
            </tr>
            <tr ng-repeat="s in svc.serviceGroups | svcGroupListFilter: svc.filter">
                <td>
                    <input type="checkbox" ng-model="s.Checked" />
                </td>
                <td>{{s.Name}}
                </td>
            </tr>
        </table>
    </div>
</script>
